h1 {
    text-align: center;
    margin-bottom: 20px;
}

#recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.recipe {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    max-width: 320px;
    width: 100%;
}

.recipe img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

h2 {
    margin-top: 0;
    font-size: 1.2em;
}

h3 {
    margin: 10px 0 5px;
    font-size: 1em;
}

.ingredients, .instructions {
    margin-left: 15px;
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    background-color: #ddd;
    color: #333;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px;
    font-size: 12px;
}